<%= stylesheet_link_tag    'user_style', media: 'all', 'data-turbolinks-track' => true %>
<div class="container">
  <div id="Customize">

    <div id= "logo">
      <%=image_tag "quora.png",:size => "80x50"%>
    </div>

    <div id="search">
      <textarea id="textarea" class="selector_input text" placeholder="Ask or Search Quora">
      </textarea>
    <div id="question"><a>Ask Question</a></div>

    </div>

    <div id="Right">

      <div id="navbar" class="collapse navbar-collapse">

        <ul class="nav navbar-nav" style=" display: flex;">
          <li>
            <a id="read_content" href="index" role="button" aria-haspopup="true" aria-expanded="false">
              <div id="logo_read"></div>
              <div id = "read">Read</div></a>
          </li>
          <li>
            <a id="answer_content" href="answer_question" role="button" aria-haspopup="true" aria-expanded="false">
              <div id="logo_answer"></div>
              <div id="answer">Answer</div>
            </a>
          </li>
          <li>
            <a id="notification_content" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              <div id="logo_notification"></div>
              <div id="notification">  Notification</div>
            </a>
          </li>
          <li>
            <a id="current_user" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <div id="profile_pic"><%= gravatar_for(current_user) %></div>
              <%if user_signed_in?%>
              <div id="username"><%= current_user.username %></div>
              <% end %>
            </a>

              <li>
                <div id="user-widget" style="
                display: flex;
                    justify-content: space-around;
                ">
                  <% if user_signed_in? %>
                      <div> <%= link_to "Setting", edit_user_registration_path , id: "current_user"%></div>
                      <div><%= link_to "Sign out", destroy_user_session_path, method: :delete, id: "sign_out" %></div>
                <% else %>
                      <div><%= link_to "Sign Up", new_user_registration_path, id: "sign_up"%></div>
                      <div><%= link_to "Sign In", new_user_session_path, id: "sign_in"%></div>

                <% end %>

                </div>
              </li>

          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>