<div id="user_written_question">
  <h3> Top stories for you</h3>
  <%questions_all = Question.all%>

  <% q_array_all = Array.new%>
  <% q_body_all = Array.new%>
   <% i=0 %>
  <% questions_all.each do |q|%>
      <%q_body_all[i] = q.body.to_s%>
      <%q_array_all[i]=q.id.to_param%>
      <%i = i+1 %>
  <%end%>

  <% @questions_interested.each do |question|%>
    <%q_array_all.each do |quest| %>
          <%answer_array_all = Array.new%>
      <%if quest == question %>
              <%= q_body_all[question.to_i - 1]%>
              <br />
              <%if answer_array_all = Answer.where(:question_id => quest.to_i)%>
                  <%f = 0%>
                  <%answer_array_all.each do %>
                      <p> <%= answer_array_all[f].body%>
                        <%if current_user = answer_array_all[f].user_id%>
                            <%= link_to "Edit", edit_question_answer_path(quest.to_i, answer_array_all[f].id)%>
                            <%= link_to "Delete", question_answer_path(quest.to_i, answer_array_all[f].id), method: :delete , data: {confirm: 'Are you sure'}%>
                        <%end%>
                      </p>
                  <%f= f+1%>
                      <%end%>
              <% end %>
              <%=  link_to "Answer", new_question_answer_path(question.to_i)%>
              <br />
          <% end %>
      <%end%>
  <% end %>

</div>