<html>
<head>
	<%= stylesheet_link_tag  'user', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>

<%= render 'partial/quora_header'%>

<div id="body_section">
<div id = "user_interest_topics">
  <div id="fedd_edit">
    <div>Feeds</div>  <div><%= link_to "Edit" ,'topic_interest' %></Edit></div>
  </div>
  <div id="change_feed">
      <div>Top Stories</div>
      <div>New Questions</div>
      <div>Bookmarked Answers</div>
  </div>
  <div id="topics_interest">
      <% @topics.each do |topic|%>
        <div id="topic_content"><li><%=image_tag "blue_dot.png",:size => "5x5"%> <%= topic.content%></li></div>
     <% end %>
  </div>
 </div>
  <%= render 'partial/top_feed_story' %>
  <div id="improve_feed">
    <div id="head_improve_feed"><h3>Improve Your Feed</h3></div>
    <div id="feed_improve_ways">
      <li>Visit Your feed</li>
      <li>Follow 20 more topics</li>
      <li>Find your friends on Quora</li>
      <li>Upvote 5 more good answers</li>
      <li>Ask yor question</li>
      <li>Add 3 credentials</li>
      <li>Answer a question</li>
    </div>
  </div>
</div>
 
</body>
</html>     