<!DOCTYPE html>
<html>
<head>
  <title>Quora</title>
 <%= render 'partial/sign_in' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <%= render 'partial/sign_up' %>
<%= yield %>

</body>

</html>